In [1]:
import pandas as pd

In [13]:
file_path = "./conll-balanced.csv"

with open(file_path, encoding="utf-8") as f:
    df = pd.read_csv(file_path)

In [14]:
df.head(5)

,sentence,start,end,label,text,name_category
0,EU rejects German call to boycott British lamb .,0,2,ORG,EU,NaN
1,EU rejects German call to boycott British lamb .,11,17,MISC,German,NaN
2,EU rejects German call to boycott British lamb .,34,41,MISC,British,NaN
3,Peter Blackburn,0,15,PER,Peter Blackburn,Male
4,BRUSSELS 1996-08-22,0,8,LOC,BRUSSELS,NaN

In [17]:
df.isnull().sum()

sentence          0
start             0
end               0
label             0
text              0
name_category    79
dtype: int64